[submodule "IsoEngine/Vendor/GLFW"]
	path = IsoEngine/Vendor/GLFW
	url = https://github.com/mynahcode/glfw
[submodule "IsoEngine/Vendor/imgui"]
	path = IsoEngine/Vendor/imgui
	url = https://github.com/mynahcode/imgui
[submodule "IsoEngine/Vendor/glm"]
	path = IsoEngine/Vendor/glm
	url = https://github.com/g-truc/glm
