# Visual Studio files and folders
.vs/
**/**.sln
**/**.vcxproj
**/**.vcxproj.filters
**/**.vcxproj.user

# Project Binaries
**/bin/
!vendor/bin/premake
**/obj/

# Logging and Instrumentation Outputs
**/TheGame/
**/imgui.ini

# IsoEngine Editor RunTime Files (may be included later for testing and QA purposes)
IsoEngineEditor/**.json
